.button {
  display: inline-block;
  /* padding: 15px 25px; */
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 9px #999; */
  margin-top: 15px;
  margin-left: 10px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cancelButton {
  display: inline-block;
  /* padding: 15px 25px; */
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 6px;
  /* box-shadow: 0 9px #999; */
  margin-top: 15px;
  margin-left: 10px;
}

.cancelButton:hover {
  background-color: #303530;
}

.cancelButton:active {
  background-color: #cdd6cd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
