.container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.login {
  border: 1px solid black;
  height: 50vh;
  width: 50vh;
  align-items: center;
  border-radius: 12px;
  background-color: white;
}

.loginTxt {
  margin-top: 6vh;
  text-align: center;
  font-weight: bold;
}

.label {
  margin-bottom: 1vh;
  margin-left: 11vh;
}

.input {
  text-align: center;
  margin-bottom: 2vh;
}
.btn {
  text-align: center;
}

.routTxt {
  text-align: center;
}

.NeedTxt {
  font-variant: small-caps;
}

.clickTxt {
  color: green;
  font-weight: bold;
  cursor: pointer;
}
